header{
    background-color: #f9e2c8;
}
.flexbox_homepage_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  /* horizontal */
    align-items: center;/* vertical */
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 3px solid #e4b48c;

}
.homepage_menu
{
    background-color: #fff3e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #e4b48c;
}
.homepage_menu a {
    text-decoration: none;
    color: brown;
    background-color: #f28c8c;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
}
.homepage_main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}
.homepage_main section h3{
    text-align: center;
}
.homepage_main section {
    margin-bottom: 40px;
    background-color: #fff8ee;
    border-radius: 25px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
}
.footer_homepage {
    background-color: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #e4b48c;
}