header{
    background-color: #f9e2c8;
}

body{
    margin:0;
}

.flexbox_homepage_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  /* horizontal */
    align-items: center;/* vertical */
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 3px solid #e4b48c;

}
.homepage_menu
{
    justify-content: center;
    background-color: #fff3e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #e4b48c;
}
.homepage_menu a, .menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: brown;
    text-decoration: none;
    background-color:#f28c8c;
    font-weight: bold; 
    margin-left: 10px;  
    margin-right: 10px;
    border-radius: 12px;
    padding: 5px;
}
.homepage_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}
.homepage_main section h3{
    text-align: center;
}
.homepage_main section {
    margin-bottom: 40px;
    background-color: #fff8ee;
    border-radius: 25px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    padding: 15px;
}

.center_home{
    text-align: center;
}

.footer_homepage, .footer_login, .footer_summary {
    text-align: center;
    padding: 15px;
    border-top: 3px solid #e4b48c;
    background-color: #f9e2c8;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_menu, .footer_customize {
    text-align: center;
    padding: 15px;
    border-top: 3px solid #e4b48c;
    background-color: #f9e2c8;
    position: static; 
    left: 0;
    bottom: 0;
    width: 100%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    background-color: #fff8ee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;

}

table th, table td {
    border: 1px solid black;
    padding: 10px;
}

input[type="text"],
input[type="password"]{
    background-color: #fff8ee;
    border-color:#e4b48c; 
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 22px;
    background-color:#f28c8c;
    font-weight: bold; 
    border-radius: 12px; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
}

.submit-selection-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 125px;
    height: 12px;
    background-color:#f28c8c;
    font-weight: bold; 
    border-radius: 12px; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
}

.finish-order-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 125px;
    height: 48px;
    background-color:#f28c8c;
    font-weight: bold; 
    border-radius: 12px; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
}

.edit-order-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color:#f28c8c;
    font-weight: bold; 
    border-radius: 12px; 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 14px;
    padding-left: 14px;
}

.confirm-order-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color:#f28c8c;
    font-weight: bold; 
    border-radius: 12px; 
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}